:root {
   --color-black: #000;
   --color-white: #fff;
}

* {
   margin: 0;
   padding: 0;
}

html {
   height: 100%;
   scroll-behavior: smooth;
}

body {
   font-family: "Inter", sans-serif;
   font-weight: 300;
}

ul {
   list-style: none;
   display: block;
}

a {
   display: block;
   text-decoration: none;
   color: inherit;
   cursor: pointer;
}

img {
   max-width: 100%;
   display: block;
}

.container {
   max-width: 1400px;
   margin: 150px auto;
   padding: 0 40px;
}

article {
   margin: 150px 0;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
}

.flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.button {
   font-family: inherit;
   font-size: 1.125rem;
   background: var(--color-black);
   color: var(--color-white);
   padding: 20px 40px;
   border-radius: 100px;
   display: block;
   box-sizing: border-box;
   cursor: pointer;
   border: none;
}

.title {
   font-size: clamp(3rem, 6vw, 4rem);
   font-weight: 300;
}

.subtitle {
   display: block;
   margin-bottom: 24px;
   font-size: clamp(1.75rem, 6vw, 2rem);
   opacity: 0.3;
}

.intro {
   margin-top: 100px;
   max-width: 1200px;
}

.intro .title {
   margin-bottom: 440px;
}

.intro img {
   padding: 40px 0;
   grid-row: 1/ -1;
   grid-column: 2;
}

.intro p {
   font-size: 1.125rem;
   max-width: 40ch;
   position: relative;
   top: -50px;
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-180px);
   }
}

.wrapper-logos {
   width: 100%;
   overflow: hidden;
   position: relative;
}

.logos {
   white-space: nowrap;
}

.logos li {
   display: inline-block;
   min-width: calc(100% / var(--items-per-page));
   box-sizing: border-box;
   padding: 20px;
   text-align: center;
}

.galery {
   grid-template-columns: 2fr 4fr;
}

.galery div:nth-child(2) {
   padding-top: 120px;
}

.section-central {
   background: #f5f5f5;
   padding: 319px 20px;
   justify-content: center;
   flex-direction: column;
}

.section-central h2 {
   max-width: 18ch;
   text-align: center;
   margin-bottom: 100px;
}

.footer {
   background: #fff;
   padding: 100px 20px 250px 20px;
   position: relative;
}

.footer .title-footer {
   font-weight: 300;
   font-size: clamp(6rem, 15vw, 8rem);
   width: 4ch;
}

.footer .reserved {
   position: absolute;
   bottom: 20px;
   margin-left: auto;
   margin-right: auto;
}

.make-wrapper {
   position: relative;
}

.ask-text {
   position: sticky;
   top: 20px;
   width: 15ch;
   font-size: clamp(2rem, 6vw, 3rem);
   font-weight: 300;
   margin-bottom: 20px;
}

.make {
   justify-items: stretch;
   overflow-y: scroll;
   height: 756px;
}

.make::-webkit-scrollbar {
   display: none;
}

.list-response img {
   max-width: 60px;
}

.list-response .card {
   display: flex;
   align-items: start;
   gap: 60px;
   flex-wrap: nowrap;
   margin-bottom: 4rem;
   padding-bottom: 4rem;
   border-bottom: 1px solid #333333;
}

.list-response .card:nth-last-child(1) {
   border: none;
}

.list-response h4 {
   font-size: clamp(1.125rem, 6vw, 1.75rem);
   font-weight: 400;
   margin-bottom: 1rem;
}

.list-response p {
   font-size: clamp(1rem, 4vw, 1.125rem);
   color: #5c5c5c;
   margin-bottom: 4rem;
}

.links {
   font-size: clamp(1rem, 4vw, 1.125rem);
   text-transform: uppercase;
   display: flex;
   align-items: center;
   gap: 16px;
}

.links .icon-link {
   display: block;
   background-image: url("../../public/icons/link.svg");
   width: 34px;
   height: 34px;
}

.project {
   align-items: center;
   margin-bottom: 200px;
}

.project .info h2 {
   width: 10ch;
   margin-bottom: 180px;
}

@media (max-width: 900px) {
   .grid {
      grid-template-columns: 1fr;
   }

   .intro .title {
      margin-bottom: 3rem;
   }

   .intro img {
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 70px;
   }

   .intro p {
      top: 0;
   }

   .project {
      justify-items: start;
   }

   .project:nth-child(2) .info {
      order: 1;
   }

   .project img {
      margin-bottom: 36px;
   }

   .make {
      height: max-content;
   }

   .list-response .card {
      flex-direction: column;
   }

   .ask-text {
      position: relative;
      margin-bottom: 80px;
   }
}
