.seta-icon {
   display: block;
   background-image: url("../../public/icons/seta.svg");
   width: 24px;
   height: 24px;
}

.depoimentos {
   background: #f5f5f5;
   padding: 100px 20px 20px 20px;
}

.depoimentos .text-depoimento {
   font-size: clamp(2rem, 5vw, 4.4rem);
   margin-bottom: 8rem;
   text-align: center;
   position: relative;
   padding-top: 40px;
}

.depoimentos .text-depoimento::before {
   content: "";
   position: absolute;
   display: block;
   width: 56px;
   height: 56px;
   background-image: url("../../public/icons/aspas.svg");
   z-index: -1;
   left: 50%;
   transform: translate(-50%, -50%);
}

.user-info p {
   text-align: center;
   font-size: clamp(1.5rem, 2vw, 2rem);
   margin-bottom: 1rem;
}

.user-info span {
   display: block;
   text-align: center;
   font-size: clamp(1rem, 2vw, 1.125rem);
   letter-spacing: 0.48px;
}

.slider {
   position: relative;
   width: 100%;
   overflow: hidden;
   margin-bottom: 80px;
   height: 75vh;
}

@media (max-width: 1045px) {
   .slider {
      height: 60vh;
   }
}

.slider .item {
   position: absolute;
   top: 0;
   width: 100%;
   transition: transform 1s;
}

.controls {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

.posicao .dot {
   cursor: pointer;
   height: 8px;
   width: 8px;
   margin: 0 2px;
   background-color: #111111;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
   transform: translate(0);
}

.controls a {
   display: inline-block;
   padding: 16px;
   border-radius: 50%;
   border: 1px solid var(--color-black);
   background-repeat: no-repeat;
   background-position: center center;
   margin: 10px;
   cursor: pointer;
}

.controls .back {
   transform: rotateY(180deg);
}

.dot:hover,
.dot.active {
   background-color: #505050;
}

@media (max-width: 820px) {
   .user img {
      max-width: 80px;
   }
   .depoimentos {
      padding: 80px 0;
   }

   .slider {
      height: 70vh;
   }
}
